body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .wrapper {
    text-align: center;
  }
  
  .container {
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f92121;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .heart-left,
  .heart-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px; /* Adjust the width */
    height: 60px; /* Adjust the height */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .heart-left {
    left: 300px; /* Adjust the distance from the left */
  }
  
  .heart-right {
    right: 300px; /* Adjust the distance from the right */
  }